# Environment & secrets
.env
*.session
*.session-journal

# Python
__pycache__/
*.py[cod]
*$py.class
*.pyc
*.pyo
.Python
build/
dist/
*.egg-info/
.eggs/

# Virtual environments
venv/
env/
.venv/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log
logs/
